.header-wrapper {
  width     : 100%;
  max-height: 726px;
  height    : 100vh;
  color     : $white;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), url(../../images/background.png);

  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: center center;
  display            : flex;
  @include transition;

  @include mq(xl) {
    height: 100vh;
  }
}

.main-wrapper {
  margin-top      : -60px;
  margin-left     : auto;
  margin-right    : auto;
  margin-bottom   : 33px;
  max-width       : 95%;
  background-color: $white;
  box-shadow      : 0px 2px 24px rgba(0, 0, 0, 0.14), 0px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius   : 6px;
}

.section {
  width     : 100%;
  text-align: center;
  margin-top: getSpacing('24x');

  @include e(title) {
    color: $heading-text-color;
  }

  @include e(body) {
    max-width: 753px;
  }

  @include e(card) {
    margin-top: getSpacing('40x');
  }

}

.footer-wrapper {
  width: 100%;

  .container--footer {
    @include flexCenter(column);
    padding-bottom: getSpacing('6x');

    .nav--footer {
      margin-bottom: getSpacing('7x');

      .nav__item {
        font-weight: 500;
      }

      a {
        color: getColor('black.light');

        &:hover {
          color: $primary-color;
        }
      }
    }

    @include mq(lg) {
      flex-direction : row;
      justify-content: space-between;
    }
  }

}