.card {
  max-width : 328px;
  margin    : 0 auto;
  text-align: center;

  @include e(image) {
    margin: 0 auto;

    // setting background image for card.
    // @include cardImage(feature-1, feature-2, feature-3);
  }

  @include e(title) {
    color: $heading-text-color;
  }

  @include e(subtitle) {
    display      : inline-block;
    color        : getColor('grey.base');
    margin-bottom: getSpacing('3x');
    font-weight: 500;
  }

  @include e(body) {
    color      : getColor('white.dark');
    font-weight: 300;
    text-align : center;
  }

  // our team card changes.
  @include m(team) {
    .card__image {
      width : 170px;
      height: 150px;
       img{
         object-fit: cover;
       }
    }
  }
}